<a href="https://colab.research.google.com/github/LuisAlfredo-Campos/Data_science-/blob/main/abalones.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Tareas:

1) Separar los datos en un matriz de características (X) y un vector objetivo (y).

2) Crear un train test split en los datos. Utilicen un número aleatorio 42 por coherencia.

3) Utilizar transformadores de columna para transformar las columnas adecuadas

Para las transformaciones de columna:

    a) Utilizar selectores de columnas para seleccionar las columnas categóricas y las columnas numéricas

    b) Utilizar un OneHotEncoder para codificar las columnas categóricas

    c) Utilizar StandardScaler para escalar columnas numéricas

    d) Utilizar un ColumnTransformer para emparejar la transformación al tipo de columna

    e) Transformar los datos y mostrar los arrays de NumPy resultantes

In [ ]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler ,OneHotEncoder,OrdinalEncoder
from sklearn.compose import make_column_selector,make_column_transformer

In [ ]:
df= pd.read_csv('/content/Libro1.csv')
df.columns=['Sex','Length','Diameter','Height','Whole weight','Shucked weight','Viscera weight','Shell weight','Rings']
df

,Sex,Length,Diameter,Height,Whole weight,Shucked weight,Viscera weight,Shell weight,Rings
0,M,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.0700,7
1,F,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.2100,9
2,M,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.1550,10
3,I,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.0550,7
4,I,0.425,0.300,0.095,0.3515,0.1410,0.0775,0.1200,8
...,...,...,...,...,...,...,...,...,...
4171,F,0.565,0.450,0.165,0.8870,0.3700,0.2390,0.2490,11
4172,M,0.590,0.440,0.135,0.9660,0.4390,0.2145,0.2605,10
4173,M,0.600,0.475,0.205,1.1760,0.5255,0.2875,0.3080,9
4174,F,0.625,0.485,0.150,1.0945,0.5310,0.2610,0.2960,10
4175,M,0.710,0.555,0.195,1.9485,0.9455,0.3765,0.4950,12

In [ ]:
#Definir las características (X) y el objetivo (y)
y = df['Rings']
X = df.drop(columns='Rings') # usaremos todas laas otras columnas y sacaremos chrages

In [ ]:
from sklearn.model_selection import train_test_split
# Train test split 
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [ ]:
# Instanciar los selectores de columnas categóricas y numéricas para seleccionar las columnas adecuadas
cat_selector = make_column_selector(dtype_include='object')
num_selector = make_column_selector(dtype_include='number')

In [ ]:
# Instanciar el escalador estándar y el codificador one hot
scaler = StandardScaler()
ohe = OneHotEncoder(handle_unknown='ignore')

In [ ]:
# Make tuples for preprocessing the categorical and numeric columns
num_tuple = (scaler, num_selector)
cat_tuple = (ohe, cat_selector)

In [ ]:
col_transformer = make_column_transformer(num_tuple, cat_tuple, remainder = 'passthrough')

In [ ]:
col_transformer.fit(X_train)

ColumnTransformer(remainder='passthrough',
                  transformers=[('standardscaler', StandardScaler(),
                                 <sklearn.compose._column_transformer.make_column_selector object at 0x7f02eba5b850>),
                                ('onehotencoder',
                                 OneHotEncoder(handle_unknown='ignore'),
                                 <sklearn.compose._column_transformer.make_column_selector object at 0x7f02eb4ae370>)])

In [ ]:
X_train_processed = col_transformer.transform(X_train)
X_test_processed = col_transformer.transform(X_test)

In [ ]:
X_train_df = pd.DataFrame(X_train_processed)
X_train_df.head()

,0,1,2,3,4,5,6,7,8,9
0,-1.546422,-1.556170,-1.053558,-1.258947,-1.260633,-1.337852,-1.212341,0.0,0.0,1.0
1,0.795725,0.521917,0.706869,0.605245,0.789463,0.749584,0.409117,0.0,0.0,1.0
2,0.252013,0.319177,0.354783,0.378850,0.602065,0.040129,0.172355,1.0,0.0,0.0
3,1.172142,0.927397,0.824231,1.234461,1.277152,1.490874,0.940037,1.0,0.0,0.0
4,-1.462774,-1.454800,-1.170920,-1.233452,-1.177094,-1.205966,-1.212341,0.0,0.0,1.0

In [ ]:
X_train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3132 entries, 0 to 3131
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       3132 non-null   float64
 1   1       3132 non-null   float64
 2   2       3132 non-null   float64
 3   3       3132 non-null   float64
 4   4       3132 non-null   float64
 5   5       3132 non-null   float64
 6   6       3132 non-null   float64
 7   7       3132 non-null   float64
 8   8       3132 non-null   float64
 9   9       3132 non-null   float64
dtypes: float64(10)
memory usage: 244.8 KB

In [ ]:
array = X_train_df.values

In [ ]:
trans_array =array.T

In [ ]:
transformado = np.sin(trans_array)

In [ ]:


print("Array transformado:")
print(transformado)

Array transformado:
[[-0.99970295  0.71437138  0.24935353 ... -0.04074447  0.40712928
   0.55353685]
 [-0.99989303  0.49854258  0.31378481 ...  0.21608845  0.49854258
   0.54182063]
 [-0.86918822  0.64945599  0.34738725 ...  0.23519732  0.23519732
   0.00269797]
 ...
 [ 0.          0.          0.84147098 ...  0.84147098  0.84147098
   0.84147098]
 [ 0.          0.          0.         ...  0.          0.
   0.        ]
 [ 0.84147098  0.84147098  0.         ...  0.          0.
   0.        ]]